<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="true"
		 bootstrap="./bootstrap.php">
	<testsuites>
		<testsuite name="Test Suite">
			<directory suffix="_test.php">./tests/</directory>
		</testsuite>
	</testsuites>

	<!-- Update to correctly match the database to be tested agains -->
	<php>
		<server name="PHPBB_TEST_DBMS" value="firebird" />
		<server name="PHPBB_TEST_DBNAME" value="/tmp/firebird.fdb" />
		<server name="PHPBB_TEST_DBPORT" value="" />
		<server name="PHPBB_TEST_DBHOST" value="localhost;dbname=/tmp/firebird.fdb" />
		<server name="PHPBB_TEST_DBUSER" value="SYSDBA" />
		<server name="PHPBB_TEST_DBPASSWD" value="masterkey" />
		<server name="PHPBB_TEST_TABLE_PREFIX" value="phpbb_" />
	</php>
</phpunit>

